[build]
  command = "npm install"
  publish = "public"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@mercuryworkshop/scramjet"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200
